# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

config.log
config.status
config.sub
config.guess

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Final Makefiles
Makefile

# Project specific
/src/.deps
/build/*

/src/config.h
/src/config.h.in
/src/config.h.in~
/src/stamp-h1

/src/FanoutPlusPlus
/src/FanoutPlusPlus.exe
